@charset "utf-8";
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "NanumSquareRound";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  --bg: #eaf2f1;
  --main1: #6ec6ac;
  --main2: #ff6767;
  --font1: #2f2f2f;
  --font2: #565656;
  --font3: white;
}
body {
  background-color: var(--bg);
}
.wrap {
  /* overflow: hidden; */
}
.inner_con {
  max-width: 1400px;
  width: calc(100% - 4rem);
  margin: auto;
}
/* 한 섹션의 크기는
width:100%에 height:100vh로 고정합니다. */

/* sec1 start */
.sec1 {
  /* border: 1px solid purple; */
  width: 100%;
  height: 100vh;
  position: relative;
}
/* 돌아가기 버튼 */
.sec1 .goback {
  /* border: 1px solid blue; */
  position: absolute;
  display: inline-block;
  text-align: center;
  margin-top: 10%;
  left: -5%;
  font-size: 20px;
  transition: 0.3s;
  font-weight: bolder;
  color: var(--main2);
}
.sec1 .goback::before {
  content: "";
  position: absolute;
  background: url(../img/옥돌1.png);
  background-size: cover;
  width: 120px;
  height: 120px;
  z-index: -1;
  top: -70%;
  left: -40%;
  transition: 0.2s;
}

.sec1 .goback:hover::before {
  transform: rotate(45deg);
}
/* 돌아가기 버튼 끝 */

.sec1 h1 {
  font-family: "TTTtangsbudaejjigaeB";
  text-align: center;
  padding-top: 3rem;
  font-size: 50px;
}
.sec1 > p {
  text-align: center;
  font-size: 35px;
  color: var(--font2);
  padding-top: 1rem;
}
.sec1 .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.sec1_left img {
  /* border: 1px solid blue; */
  width: 100%;
}
.sec1_right {
  /* border: 1px solid red; */
  margin-right: 17%;
}
.sec1_text {
  /* border: 1px solid green; */
  width: 130%;
  padding-top: 2rem;
  color: var(--font1);
}
.sec1_right p:nth-of-type(2) {
  padding: 2rem 0;
}

.sec1_btn {
  /* border: 1px solid blue; */
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-right: -25%;
}
.sec1_btn a {
  /* border: 1px solid red; */
  margin: 0 1rem;
  background-color: white;
  width: 150px;
  height: 70px;
  border-radius: 20px;
  transition: 0.3s;
}
.sec1_btn a p {
  /* border: 1px solid blue; */
  margin-top: 0.6rem;
}
.sec1_btn a:hover {
  background-color: var(--main2);
  color: var(--font3);
}
/* sec1 end */

/* sec2 start */
.sec2 {
  width: 100%;
  height: 100vh;
  /* border: 2px solid purple; */
}

.sec2 h1 {
  font-family: "TTTtangsbudaejjigaeB";
  text-align: center;
  padding-top: 3rem;
  font-size: 50px;
}
.sec2 .goal {
  /* border: 1px solid red; */
  padding-top: 7rem;
  position: relative;
}
.sec2 .goal > div {
  /* border: 1px solid red; */
  position: absolute;
  background-color: #f9f9f9;
  width: 40vw;
  height: 13vh;
  border-radius: 20px;
  margin: 1rem 0;
  box-shadow: 0 5px #eaeaea;
  font-size: 25px;
  text-align: center;
  padding-top: 1.5rem;
}
.sec2 .goal1 {
  /* border: 1px solid blue; */
  left: 5%;
  position: relative;
  z-index: 1;
}
.sec2 .goal1:hover::before {
  transform: rotate(45deg);
  top: -70%;
}
.sec2 .goal2:hover::before {
  transform: rotate(-90deg);
  top: -70%;
}
.sec2 .goal3:hover::before {
  transform: rotate(80deg);
  top: -70%;
}
.sec2 .goal1 p {
  /* border: 1px solid red; */
  color: var(--font1);
}
.sec2 .goal2 {
  /* border: 1px solid red; */
  top: 30vh;
  right: 5%;
  position: relative;
  z-index: 1;
}
.sec2 .goal2 p {
  padding-top: 1.4rem;
}
.sec2 .goal3 {
  top: 50vh;
  left: 5%;
  position: relative;
  z-index: 1;
}
.sec2 .goal1::before {
  content: "";
  background: url(../img/옥돌1.png);
  position: absolute;
  background-size: cover;
  width: 150px;
  height: 150px;
  top: -50%;
  left: 10%;
  z-index: -1;
  transition: 0.3s;
}
.sec2 .goal2::before {
  content: "";
  background: url(../img/옥돌2-1.png);
  position: absolute;
  background-size: cover;
  width: 130px;
  height: 120px;
  top: -55%;
  right: 10%;
  z-index: -1;
  transition: 0.3s;
}
.sec2 .goal3::before {
  content: "";
  background: url(../img/옥돌4.png);
  position: absolute;
  background-size: cover;
  width: 130px;
  height: 130px;
  top: -40%;
  left: 15%;
  z-index: -1;
  transition: 0.3s;
}

/* sec2 end */

/* sec3 start */
.sec3 {
  width: 100%;
  height: 200vh;
  /* border: 2px solid purple; */
  position: relative;
}
.sec3 h1 {
  font-family: "TTTtangsbudaejjigaeB";
  text-align: center;
  padding-top: 3rem;
  font-size: 50px;
}
.sec3_btn {
  /* border: 1px solid red; */
  position: absolute;
  right: 5%;
  top: 20%;
}
.sec3_btn button {
  font-family: "NanumSquareRound";
  display: block;
  margin: 1.5rem 0;
  background-color: var(--font3);
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 70px;
  font-size: 18px;
  color: var(--main1);
  transition: 0.3s;
}
.sec3_btn button:hover {
  cursor: pointer;
}
.sec3_btn button.on {
  background-color: var(--main2);
  color: var(--font3);
}

.sec3_btn a {
  display: inline-block;
  background-color: var(--font3);
  width: 150px;
  height: 70px;
  border-radius: 20px;
  font-size: 18px;
  color: var(--main1);
  text-align: center;
  padding-top: 0.4rem;
  transition: 0.3s;
}
.sec3_btn a:hover {
  background-color: var(--main2);
  color: var(--font3);
}
.sec3_con > article {
  display: none;
  position: relative;
  /* border: 1px solid red; */
}
.sec3_con article.on {
  display: block;
}

.sec3_con article .pc img {
  margin-top: 5%;
  position: absolute;
  width: 50%;
  margin-left: 5%;
}
.sec3_con article .mobile img {
  position: absolute;
  height: 150vh;
  right: 25%;
  margin-top: 5%;

  /* margin-left: -80%; */
}

/* sec3 end */
@media (max-width: 1600px) {
  .sec2 .goal > div {
    font-size: 20px;
  }
  .sec2 .goal1::before {
    width: 120px;
    height: 120px;
  }
  .sec2 .goal2::before {
    width: 100px;
    height: 100px;
    top: -50%;
  }
  .sec2 .goal3::before {
    width: 100px;
    height: 100px;
    top: -50%;
    left: 5%;
  }
}
@media (max-width: 1500px) {
  .sec1 .goback {
    font-size: 16px;
    left: 5%;
    margin-top: 10%;
  }
  .sec1 .goback::before {
    top: -80%;
  }
}
@media (max-width: 1000px) {
  .sec1 .goback {
    left: 10%;
  }
  .sec1 h1 {
    font-size: 35px;
    padding-top: 10rem;
  }
  .sec1 > p {
    font-size: 25px;
  }
  .sec1 .flex {
    flex-direction: column;
    padding-top: 0;
  }
  .sec1_right {
    /* border: 1px solid red; */
    margin-right: 0;
    margin-left: 8%;
  }
  .sec1_text {
    width: 90%;
    margin-top: -10%;
    padding-top: 0;
    font-size: 16px;
  }
  .sec1_btn {
    margin-right: 10%;
    margin-top: 5rem;
  }
  .sec2 h1 {
    padding-top: 90%;
    font-size: 35px;
  }
  .sec2 .goal {
    top: 0;
  }
  .sec2 .goal > div {
    font-size: 15px;
  }
  .sec2 .goal1::before {
    width: 120px;
    height: 120px;
  }
  .sec2 .goal2::before {
    width: 100px;
    height: 100px;
    top: -50%;
  }
  .sec2 .goal3::before {
    width: 100px;
    height: 100px;
    top: -50%;
    left: 5%;
  }

  .sec3 h1 {
    padding-top: 80%;
    font-size: 35px;
  }
  .sec3_btn {
    left: 32%;
    display: flex;
    top: 60%;
  }
  .sec3_btn button {
    /* border: 1px solid blue; */
    margin: 0 0.5rem;
    font-size: 16px;
    width: 110px;
    height: 60px;
  }
  .sec3_btn a {
    width: 110px;
    height: 60px;
    font-size: 16px;
    padding-top: 0.4rem;
    margin-top: 0rem;
  }
  .sec3_con article .pc img {
    margin-top: 30%;
    width: 100%;
    left: -5%;
  }
  .sec3_con article .mobile img {
    margin-top: 170%;

    right: 40%;
  }
  .sec3_con .sub .mobile img {
    /* border: 1px solid blue; */
    margin-top: 195%;
    right: 43%;
  }
}
@media (max-width: 800px) {
  .sec3_btn {
    left: 23%;
    top: 42%;
  }
}

@media (max-width: 600px) {
  /* sec1 start */
  .sec1 .goback {
    font-size: 16px;
    left: 10%;
    margin-top: 15%;
  }
  .sec1 .goback::before {
    top: -80%;
  }
  .sec1 h1 {
    font-size: 27px;
    padding-top: 10rem;
  }
  .sec1 > p {
    font-size: 20px;
  }
  .sec1 .flex {
    flex-direction: column;
    padding-top: 0;
  }

  .sec1_right {
    /* border: 1px solid red; */
    margin-right: 0;
    margin-left: 8%;
  }
  .sec1_text {
    width: 90%;
    padding-top: 0;
    font-size: 13px;
  }
  .sec1_btn {
    margin-right: 0;
    margin-left: -2rem;
  }
  .sec1_btn a {
    width: 120px;
    height: 60px;
    font-size: 14px;
  }

  /* sec1 end */

  /* sec2 start */
  .sec2 h1 {
    padding-top: 80%;
    font-size: 30px;
  }
  .sec2 .goal {
    /* border: 1px solid blue; */
    top: -10%;
  }
  .sec2 .goal > div {
    font-size: 15px;
    width: 90vw;
  }
  .sec2 .goal1 {
    left: 0;
  }
  .sec2 .goal2 {
    right: 0;
  }
  .sec2 .goal2 p {
    padding-top: 1rem;
  }
  .sec2 .goal3 {
    top: 47vh;
    left: 0;
  }
  .sec2 .goal3 p {
    font-size: 14px;
  }
  .sec2 .goal3 p {
    padding-top: 0.5rem;
  }
  .sec2 .goal1::before {
    width: 120px;
    height: 120px;
  }
  .sec2 .goal2::before {
    width: 100px;
    height: 100px;
    top: -30%;
  }
  .sec2 .goal3::before {
    width: 100px;
    height: 100px;
    top: -30%;
    left: 5%;
  }
  /* sec2 end */

  /* sec3 start */
  .sec3 h1 {
    padding-top: 30%;
    font-size: 30px;
  }
  .sec3_btn {
    /* left: 15%;
    display: flex;
    top: 15%; */
    width: 100%;
    display: flex;
    top: 15%;
    left: 5%;
  }
  .sec3_btn button {
    /* border: 1px solid blue; */
    margin: 0 0.5rem;
    font-size: 16px;
    width: 95px;
    height: 50px;
  }
  .sec3_btn button:nth-of-type(2) {
    margin-right: 1rem;
    border: 1px solid;
  }
  .sec3_btn a {
    width: 95px;
    height: 50px;
    font-size: 13px;
    padding-top: 0.3rem;
    margin-top: 0rem;
  }
  .sec3_con article .pc img {
    margin-top: 35%;
    width: 100%;
    left: -5%;
  }
  .sec3_con article .mobile img {
    margin-top: 190%;

    right: 27%;
  }
  .sec3_con .sub .mobile img {
    /* border: 1px solid blue; */
    margin-top: 240%;
    right: 25%;
  }

  /* sec3 end */
}
