@charset "utf-8";
.mw {
  max-width: 1400px;
  width: calc(100% - 2rem);
  margin: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@font-face {
  font-family: "SunBatang-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
:root {
  font-family: "SunBatang-Light";
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  --main-c1: #522b1c;
  --main-c2: #e84a36;
  --font-c1: #1b1b1b;
  --font-c2: #4c4c4c;
  --font-c3: #ffffff;
  --bg: #fffaf9;
}
body {
  background-color: var(--bg);
}
/* floating start */
@media (min-width: 601px) {
  .floating {
    position: fixed;
    z-index: 999;
    top: 180px;
    width: 50px;
    right: 5%;
  }
  .floating > div {
    /* border: 1px solid blue; */
    margin-bottom: 2px;
  }
  .floating img {
    border-radius: 5px;
    width: 100%;
    background-color: var(--main-c1);
    padding: 0.5rem;
  }
}
/* floating end */

/* header start */
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: white;
  border-top: 10px solid var(--main-c1);
  z-index: 999;
}

.hd nav {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  z-index: 999;
}
.hd nav .gnb {
  /* border: 1px solid green; */
  display: flex;
  margin: auto;
  justify-content: space-between;
}
nav .gnb > li {
  /* border: 1px solid orange; */
  padding: 0.5rem 3rem;
  margin: 0 1rem;
  position: relative;
}

nav .gnb > li > a {
  /* border: 1px solid green; */
  display: inline-block;
  font-family: "SunBatang-Light";
  font-size: 20px;
}
nav .gnb > li > a:hover {
  color: var(--main-c2);
}
nav .gnb > li:hover .sub {
  height: 200px;
}
.sub {
  border-radius: 10px;
  position: absolute;
  width: 110%;
  height: 0px;
  overflow: hidden;
  top: 100%;
  left: -5%;
  background-color: var(--main-c2);
  transition: 0.2s;
  /* border: 1px solid green; */
}
.sub li {
  /* border: 1px solid orange; */
  padding: 0.5rem;
  text-align: center;
  transition: 0.2s;
}
.sub li:hover {
  background-color: var(--main-c1);
}
.sub > li > a {
  /* border: 1px solid blue; */
  font-size: 15px;
  color: var(--font-c3);
}
nav .ham {
  font-size: 40px;
  display: none;
}
/* header end */

/* sec1 start */
.sec1 {
  position: relative;
  /* border-bottom: 1px solid var(--main-c2); */
}
.sec1_title {
  text-align: center;
  padding-top: 2rem;
}
.sec1_title h2 {
  font-family: "SunBatang-Light";
  font-size: 40px;
}
.sec1_title span {
  color: var(--main-c2);
}
.sec1_title > p {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-c2);
}

.sec1_subtitle {
  /* border: 1px solid blue; */

  position: absolute;
}
.sec1_subtitle h3 {
  color: var(--main-c2);
  font-size: 30px;
}
.sec1_subtitle > p {
  font-size: 18px;
}
.sec1_btn {
  display: flex;
  justify-content: flex-end;
}
.sec1_btn button {
  display: block;
  background-color: var(--main-c1);
  border: none;
  color: var(--font-c3);
  width: 150px;
  height: 70px;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.sec1_btn button.on {
  background-color: var(--main-c2);
}
.sec1_slide {
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
}

.sec1_slide article {
  display: none;
  position: relative;
}
.sec1_slide article.on {
  display: block;
}
.sec1_dec {
  text-align: center;
}
.sec1_slide .swiper-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}
.sec1_slide .swiper-wrapper li .sec1_img {
  /* border: 1px solid blue; */
  margin-right: 3rem;
}
.sec1_slide .swiper-wrapper li .sec1_dec {
  /* border: 1px solid blue; */
  margin-left: 3rem;
}
.dec1_title .T1 {
  font-size: 20px;
  font-weight: bolder;
}
.dec1_title .T2 {
  /* border: 1px solid red; */
  padding-top: 0.5rem;
}
.dec1_title .T2 span {
  display: block;
  font-size: 14px;
  color: var(--font-c2);
}

.dec1_price {
  /* border: 1px solid blue; */
  padding-top: 1rem;
  text-align: left;
}
.dec1_price .P1 {
  color: var(--main-c2);
  font-size: 18px;
  font-weight: bolder;
}
.dec1_price p,
.dec1_price p > span {
  font-size: 14px;
  color: var(--font-c2);
}

.dec1_material {
  /* border: 1px solid blue; */
  padding-top: 2rem;
}
.dec1_material .dec1_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dec1_material p {
  text-align: left;
  color: var(--main-c2);
  font-size: 18px;
  font-weight: bolder;
}
.dec1_material img {
  /* border: 1px solid blue; */
  padding: 0.5rem 1rem;
}
.dec1_material div > span {
  display: block;
  /* border: 1px solid blue; */
}
.next1_1,
.next2_1,
.next3_1,
.prev1_1,
.prev2_1,
.prev3_1 {
  color: var(--main-c1);
}
/* sec1 end */

/* sec2 start */
.sec2 {
  border-top: 5px solid var(--main-c2);
  margin-top: 100px;
  padding-top: 50px;
}
.sec2_subtitle {
  /* border: 1px solid blue; */
  padding-bottom: 1rem;
}
.sec2_subtitle h3 {
  color: var(--main-c2);
  font-size: 30px;
}
.sec2_subtitle > p {
  font-size: 18px;
}

.sec2_btn {
  /* display: flex;
  justify-content: flex-end; */
}
.sec2_btn button {
  display: block;
  background-color: var(--main-c1);
  border: none;
  color: var(--font-c3);
  width: 150px;
  height: 70px;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.sec2_slide {
  /* border: 1px solid blue; */
  width: 80%;
  margin-top: -30%;
  margin-left: 15%;
}
.sec2_btn button.on {
  background-color: var(--main-c2);
}
.sec2_btn span {
  display: block;
}
.sec2_slide article {
  display: none;
  position: relative;
}
.sec2_slide article.on {
  display: block;
}
.sec2_slide .swiper-wrapper li {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sec2_slide .dec2_title {
  /* border: 1px solid tomato; */
  padding: 5rem 0;
  margin: 5rem 0;
}
.dec2_title .T1_2 {
  font-size: 20px;
  font-weight: bolder;
}
.dec2_title .T2_2 {
  padding-top: 0.5rem;
}
.dec2_title .T2_2 span {
  display: block;
  font-size: 14px;
  color: var(--font-c2);
}
.dec2_price {
  /* border: 1px solid blue; */
  padding-top: 2rem;
}
.dec2_price .P2 {
  color: var(--main-c2);
  font-size: 18px;
  font-weight: bolder;
}
.sec2_Pimg > img {
  /* border: 1px solid red; */
  width: 60%;
}

.next1_2,
.next2_2,
.next3_2,
.next4_2,
.next5_2,
.prev1_2,
.prev2_2,
.prev3_2,
.prev4_2,
.prev5_2 {
  color: var(--main-c1);
}
/* sec2 end */

/* sec3 start */
.sec3 {
  /* border: 1px solid blue; */
  border-top: 5px solid var(--main-c2);
  margin-top: 100px;
  padding-top: 50px;
}
.sec3_subtitle {
  /* border: 1px solid blue; */
  padding-bottom: 1rem;
}
.sec3_subtitle h3 {
  color: var(--main-c2);
  font-size: 30px;
}
.sec3_subtitle > p {
  font-size: 18px;
}
.sec3_btn button {
  display: block;
  background-color: var(--main-c1);
  border: none;
  color: var(--font-c3);
  width: 150px;
  height: 70px;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.sec3_btn button.on {
  background-color: var(--main-c2);
}

.sec3_slide article {
  display: none;
  position: relative;
}
.sec3_slide article.on {
  display: block;
}

.sec3_slide {
  /* border: 1px solid blue; */
  height: 60vh;
  width: 80%;
  margin-top: -30%;
  margin-left: 15%;
}
.sec3_slide .swiper-wrapper li {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sec3_img img {
  /* border: 1px solid red; */
  margin-top: 5%;
  align-items: center;
  width: 80%;
}
.sec3_Cimg img {
  /* border: 1px solid blue; */
  margin-top: 15%;
  width: 60%;
}
.sec3_slide .dec3_title {
  /* border: 1px solid tomato; */
  padding: 5rem 0;
  margin: 5rem 0;
}
.dec3_title .T1_3 {
  font-size: 20px;
  font-weight: bolder;
}
.dec3_title .T2_3 {
  padding-top: 0.5rem;
  font-size: 14px;
  color: var(--font-c2);
}
.dec3_title .T2_3 span {
  display: block;
}
.dec3_price {
  /* border: 1px solid red; */
  padding-top: 2rem;
}
.dec3_price .P3 {
  color: var(--main-c2);
  font-weight: bolder;
}
.sec3_slide .swiper-wrapper li .sec3_img {
  /* border: 1px solid blue; */
  margin-right: 3rem;
}
.sec3_slide .swiper-wrapper li .sec3_Cimg {
  margin-right: 3rem;
}
.sec3_slide .swiper-wrapper li .sec3_dec {
  /* border: 1px solid blue; */
  margin-left: 3rem;
}

.next1_3,
.next2_3,
.next3_3,
.next4_3,
.prev1_3,
.prev2_3,
.prev3_3,
.prev4_3 {
  color: var(--main-c1);
}
/* sec3 end */

/* sec4 start */
.sec4 {
  /* border: 1px solid blue; */
  position: relative;
  border-top: 5px solid var(--main-c2);
}
.sec4_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4_subtitle {
  /* border: 1px solid blue; */
  padding: 2rem 0 2rem 0;
}
.sec4_subtitle h3 {
  color: var(--main-c2);
  font-size: 30px;
}
.sec4_subtitle > p {
  font-size: 18px;
}
.sec4 .slide4 {
  margin-left: 3rem;
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}
.sec4 .slide4 .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4dec {
  text-align: center;
}
.sec4img {
  /* border: 1px solid green; */
  margin-left: -4rem;
}
.dec4title {
  /* border: 1px solid red; */
  margin-left: -4rem;
}
.dec4title .T1_4 {
  font-weight: bolder;
  font-size: 20px;
}
.dec4title .T2_4,
.dec4title .T3_4 {
  padding-top: 0.5rem;
  font-size: 14px;
  color: var(--font-c2);
}
.dec4title .T2_4 span,
.dec4title .T3_4 span {
  display: block;
}

.dec4title .T3_4 {
  /* border: 2px solid orange; */
  padding-top: 2rem;
  text-align: left;
}
.dec4title .T3_4 p {
  position: relative;
  padding-top: 0.5rem;
  color: var(--font-c1);
  font-size: 12px;
}
.dec4title .T3_4 p::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--main-c2);
}
.sec4img img {
  width: 90%;
  /* border-radius: 20%; */
  /* box-shadow: 20px 20px 20px #eaeaea; */
}
.next4,
.prev4 {
  color: var(--main-c1);
}
.sec4_contact {
  /* border: 1px solid green; */
  text-align: center;
  margin-right: 8rem;
}
.sec4_contact > p {
  font-size: 25px;
}
.sec4_contact > p > span {
  color: var(--main-c2);
}
.sec4_box {
  padding-top: 2rem;
  position: relative;
}
.box_img img {
  filter: grayscale(0.2);
  border-radius: 20px;
  width: 100%;
  height: 20vh;
}
.sec4_box p {
  position: absolute;
  top: 50%;
  left: 35%;
  color: var(--font-c3);
  font-size: 25px;
}
.sec4_box p::before {
  content: "";
  position: absolute;
  background-color: #eaeaea;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}
.sec4_box a {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 85%;
  /* background-color: skyblue; */
  border-radius: 20px;
}
/* sec4 end */
/* footer start */
.ft {
  background-color: white;
  margin-top: 100px;
}
.ft_con {
  display: flex;
  justify-content: left;
  align-items: center;
}
.ft_address {
  /* border: 1px solid blue; */
  padding: 2rem 0 1rem 2rem;

  line-height: 2rem;
}
.ft_address .copyright {
  /* border: 1px solid blue; */
  padding-top: 0.5rem;
  font-weight: bold;
}
/* footer end */

@media (max-width: 600px) {
  .floating {
    display: none;
  }
  .hd nav .gnb {
    display: none;
  }
  .hd .ham {
    display: block;
  }
  .sec1_subtitle {
    /* border: 1px solid blue; */
    top: 20%;
    text-align: center;
  }
  .sec1_btn {
    padding-top: 50%;
  }
  .sec1_slide {
    margin-top: 5rem;
  }
  .sec1_slide .swiper-wrapper li {
    display: block;
  }
  .sec1_img img {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0 45px;
  }
  .valrhona {
    width: 80%;
    margin-left: 45px;
  }
  .dec1_price {
    display: none;
  }
  .dec1_material p {
    display: none;
  }
  .sec1_dec {
    /* border: 1px solid blue; */
    margin-right: 10%;
  }
  .pg1_1,
  .pg2_1,
  .pg3_1,
  .next1_1,
  .next2_1,
  .next3_1,
  .prev1_1,
  .prev2_1,
  .prev3_1 {
    display: none;
  }

  /* sec2 start */
  .sec2_subtitle {
    text-align: center;
  }
  .sec2_btn {
    padding: 10% 0 30% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec2_btn button {
    width: calc(100% / 3 - 1rem);
    margin: 5px 5px;
    height: 70px;
    font-size: 1.3rem;
    /* border: 1px solid blue; */
  }

  .sec2_slide .swiper-wrapper li {
    top: 100px;
    /* border: 1px solid green; */
    display: block;
  }
  .sec2_img img {
    /* border: 1px solid blue; */
    width: 80%;
  }
  .sec2_dec {
    /* border: 1px solid red; */
  }
  .T1_2 {
    /* border: 1px solid blue; */
    margin-top: -45%;
  }
  .dec2_price {
    display: none;
  }
  .next1_2,
  .next2_2,
  .next3_2,
  .next4_2,
  .next5_2,
  .prev1_2,
  .prev2_2,
  .prev3_2,
  .prev4_2,
  .prev5_2 {
    display: none;
  }

  /* sec3 start */
  .sec3 {
    padding-bottom: 100px;
  }
  .sec3_subtitle {
    margin-top: 0;
    text-align: center;
  }
  .sec3_btn {
    padding: 10% 0 30% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec3_btn button {
    width: calc(100% / 2 - 1rem);
    margin: 5px 5px;
    height: 70px;
    font-size: 1.3rem;
    /* border: 1px solid blue; */
  }
  .sec3_slide .swiper-wrapper li {
    /* top: 100px; */
    /* border: 1px solid green; */
    display: block;
  }
  .sec3_img,
  .sec3_Cimg {
    margin-top: 2rem;
  }
  .sec3_img img {
    /* border: 1px solid blue; */
    width: 250px;
    height: 300px;
  }
  .sec3_Cimg img {
    margin-top: 15%;
    width: 40%;
  }

  .T1_3 {
    /* border: 1px solid blue; */
    margin-top: -45%;
    margin-left: -30%;
  }
  .T2_3 {
    margin-left: -30%;
  }
  .dec3_price {
    display: none;
  }

  .next1_3,
  .next2_3,
  .next3_3,
  .next4_3,
  .prev1_3,
  .prev2_3,
  .prev3_3,
  .prev4_3 {
    display: none;
  }

  /* sec4 start */
  .sec4 {
    /* border: 1px solid red; */
    /* top: -50px; */
  }
  .sec4_subtitle {
    text-align: center;
  }
  .sec4_wrap {
    display: block;
  }
  .sec4 .slide4 .swiper-wrapper .swiper-slide {
    display: block;
  }

  .sec4img {
    margin-left: 0;
  }
  .dec4title {
    margin-left: 0;
  }
  .T3_4 {
    display: none;
  }
  .pg4,
  .next4,
  .prev4 {
    display: none;
  }
  .T1_4 {
    margin-top: -10%;
  }
  .T2_4 {
    padding-bottom: 2rem;
  }

  .sec4_contact {
    padding-top: 3rem;
    margin-right: 0;
  }

  .box_img img {
    width: 60%;
    height: 150px;
  }
  .sec4_box p {
    left: 38%;
  }

  /* footer start */
  .ft_con {
    display: block;
    text-align: center;
    padding-top: 2rem;
  }
  .ft_address {
    text-align: left;
    font-size: 14px;
    line-height: 1.5rem;
  }
}

@media (max-width: 900px) {
  .floating {
    display: none;
  }
  .hd nav .gnb {
    display: none;
  }
  .hd .ham {
    display: block;
  }
  .sec1_subtitle {
    /* border: 1px solid blue; */
    top: 20%;
    left: 40%;
  }
  .sec1_btn {
    padding-top: 50%;
  }
  .sec1_slide {
    margin-top: 5rem;
  }
  .sec1_slide .swiper-wrapper li {
    display: block;
  }
  .sec1_img img {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0 45px;
  }
  .valrhona {
    width: 80%;
    margin-left: 45px;
  }
  .dec1_price {
    display: none;
  }
  .dec1_material p {
    display: none;
  }
  .sec1_dec {
    /* border: 1px solid blue; */
    margin-right: 10%;
  }
  .pg1_1,
  .pg2_1,
  .pg3_1,
  .next1_1,
  .next2_1,
  .next3_1,
  .prev1_1,
  .prev2_1,
  .prev3_1 {
    display: none;
  }

  /* sec2 start*/
  .sec2_subtitle {
    text-align: center;
  }
  .sec2_btn {
    padding: 10% 0 30% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec2_btn button {
    width: calc(100% / 3 - 1rem);
    margin: 5px 5px;
    height: 70px;
    font-size: 1.3rem;
    /* border: 1px solid blue; */
  }

  .sec2_slide .swiper-wrapper li {
    top: 100px;
    /* border: 1px solid green; */
    display: block;
  }
  .sec2_img img {
    /* border: 1px solid blue; */
    width: 80%;
  }
  .sec2_dec {
    /* border: 1px solid red; */
  }
  .T1_2 {
    /* border: 1px solid blue; */
    margin-top: -45%;
  }
  .dec2_price {
    display: none;
  }
  .next1_2,
  .next2_2,
  .next3_2,
  .next4_2,
  .next5_2,
  .prev1_2,
  .prev2_2,
  .prev3_2,
  .prev4_2,
  .prev5_2 {
    display: none;
  }

  /* sec4 */
  .sec4 {
    /* border: 1px solid red; */
    /* margin-top: 60%; */
  }
  .sec4_subtitle {
    text-align: center;
  }
  .sec4_wrap {
    display: block;
  }
  .sec4 .slide4 .swiper-wrapper .swiper-slide {
    display: block;
  }
  .sec4 .slide4 {
    width: 80%;
    height: auto;
  }
  .sec4img {
    margin-left: 0;
  }
  .dec4title {
    margin-left: 0;
  }
  .T3_4 {
    display: none;
  }
  .pg4,
  .next4,
  .prev4 {
    display: none;
  }
  .T1_4 {
    margin-top: -10%;
  }
  .T2_4 {
    padding-bottom: 2rem;
  }

  .sec4_contact {
    padding-top: 3rem;
    margin-right: 0;
  }

  .box_img img {
    width: 60%;
    height: 150px;
  }
  .sec4_box p {
    left: 38%;
  }
}

/* mega_menu */
.fullscreen_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.menu_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -82px 0 0 -35px;
}

.menu_wrap li {
  padding: 10px;
  list-style: none;
}

.menu_wrap a {
  font-size: 20px;
  display: inline-block;
  color: var(--font-c3);
  text-decoration: none;
}

.ham_close {
  text-align: right;
}

.ham_close a {
  display: inline-block;
  color: var(--font-c3);
  margin: 10px;
}
.ham_close > a {
  font-size: 40px;
}
